{% extends 'base.html' %}
{% block titulo %}Eliminar Videojuego | Xbox Gaming Hub{% endblock %}

{% block contenido %}
<h2>¿Estás seguro de que quieres borrar el videojuego "{{ videojuego.titulo }}"?</h2>
<p>Esta acción no se puede deshacer.</p>
<form method="post">
    {% csrf_token %}
    <div class="actions">
        <button type="submit" class="btn btn-danger">Sí, Borrar</button>
        <a href="{% url 'app_videojuegos_proveedores:detalle_videojuego' videojuego.id %}" class="btn">Cancelar</a>
    </div>
</form>
{% endblock %}