{% extends 'base.html' %}
{% block titulo %}{{ titulo }} | Xbox Gaming Hub{% endblock %}

{% block contenido %}
<h2>{{ titulo }}</h2>
<form method="post" enctype="multipart/form-data" class="form-styled"> {# enctype="multipart/form-data" es OBLIGATORIO para subir archivos #}
    {% csrf_token %}
    {{ form.as_p }} {# Esto renderiza todos los campos del formulario como párrafos #}
    <div class="actions">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'app_videojuegos_proveedores:listar_videojuegos' %}" class="btn">Cancelar</a>
    </div>
</form>
{% endblock %}